.admin {
  display: flex;
  padding: 40px 0px;
  &__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__link {
      padding: 20px 0px;
      color: #aaa;
      a:hover {
        color: black;
      }
    }

    &__left__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
    }

    &__desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      padding: 0px 20px 0px;
      cursor: pointer;
    }

   
  }

  &__logOut {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    background-color: #db4444;
    width: 150px;
    border: none;
  }
  &__right {
    width: 70%;

    &__desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: end;
      padding: 20px 0px;
      span {
        color: #db4444;
      }
    }
  }

  .form {
    border-radius: 10px;
    padding: 40px;
    &__edit {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 40px;
      input {
        width: 100%;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #f5f5f5;
      }
    }

    &__change {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        width: 100%;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #f5f5f5;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      color: #db4444;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 20px;
    }

    &__save-btn {
      padding: 10px 30px;
      background: #db4444;
      color: white;
      font-size: 16px;
      border: none;
    }

    &__cencel-btn {
      padding: 10px 30px;
      color: #db4444;
      font-size: 16px;
      border: none;
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    &__left,
    &__right {
      width: 100%;
    }
  }
  @media (max-width: 550px) {
    .form {
      padding: 10px;
      &__edit {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }
}
